<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zazhi.zzcoder.mapper.ProblemSetMapper">

    <update id="update" parameterType="com.zazhi.zzcoder.common.pojo.entity.ProblemSet">
        update problem_set
        <set>
            <if test="title != null">
                title = #{title},
            </if>
            <if test="description != null">
                description = #{description},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="updateUser != null">
                update_user = #{updateUser},
            </if>
        </set>
        where id = #{id}
    </update>

    <select id="pageProblemSet" parameterType="string" resultType="com.zazhi.zzcoder.common.pojo.vo.ProblemSetPageVO">
        select
        ps.id,
        ps.title,
        ps.status,
        ps.create_time,
        COUNT(psi.id) + COUNT(ep.id) as problem_count,
        u.id as create_user_id,
        u.username as create_user_name
        from problem_set ps
        left join user u on ps.create_user = u.id
        LEFT JOIN problem_set_item psi ON ps.id = psi.problem_set_id
        LEFT JOIN external_problem ep ON ep.problem_set_id = ps.id
        <where>
            <if test="title != null and title.trim() != ''">
                and ps.title like concat('%', #{title}, '%')
            </if>
            <if test="status != null">
                and ps.status = #{status}
            </if>
        </where>
        GROUP BY ps.id
    </select>
</mapper>
