<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zazhi.zzcoder.mapper.UserMapper">

    <update id="update" parameterType="com.zazhi.zzcoder.common.pojo.entity.User">
        update user
        <set>
            <if test="username != null and username != ''">username = #{username},</if>
            <if test="password != null and password != ''">password = #{password},</if>
            <if test="email != null and email != ''">email = #{email},</if>
            <if test="phoneNumber != null and phoneNumber != ''">phone_number = #{phoneNumber},</if>
            <if test="avatarUrl != null and avatarUrl != ''">avatar_url = #{avatarUrl},</if>
            <if test="cfUsername != null and cfUsername != ''">cf_username = #{cfUsername},</if>
            <if test="status != null">status = #{status},</if>
            update_time = now()
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <select id="findPermissionsByRoles" parameterType="java.util.List" resultType="com.zazhi.zzcoder.common.pojo.entity.Permission">
        select p.*
        from permission p
        join role_permission rp on p.id = rp.permission_id
        <where>
            <if test="roles != null and roles.size() > 0">
               AND rp.role_id IN
               <foreach collection="roles" item="role" open="(" separator="," close=")">
               #{role.id}
               </foreach>
            </if>
        </where>
    </select>

    <resultMap id="rolePermissionMap" type="com.zazhi.zzcoder.common.pojo.vo.RoleAndPermissionVO">
        <id property="userId" column="user_id"/>
        <collection property="roles" ofType="java.lang.String">
            <result column="role_name"/>
        </collection>
        <collection property="permissions" ofType="java.lang.String">
            <result column="permission_name"/>
        </collection>
    </resultMap>
    <select id="getRoleAndPermission" resultMap="rolePermissionMap">
        SELECT
        u.id AS user_id,
        r.name AS role_name,
        p.name AS permission_name
        FROM user u
        LEFT JOIN user_role ur ON u.id = ur.user_id
        LEFT JOIN role r ON ur.role_id = r.id
        LEFT JOIN role_permission rp ON r.id = rp.role_id
        LEFT JOIN permission p ON rp.permission_id = p.id
        WHERE u.id = #{userId}
    </select>


</mapper>
