server:
  port: 8081
spring:
  profiles:
    active: dev

  rabbitmq:
    host: ${zz.rabbitmq.host} #IP
    port: ${zz.rabbitmq.port} # ??
    virtual-host: ${zz.rabbitmq.virtual-host} # ????
    username: ${zz.rabbitmq.username} # ???
    password: ${zz.rabbitmq.password} # ??
  # mysql
  datasource:
    driver-class-name: ${zz.datasource.driver-class-name} #com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://${zz.datasource.host}:${zz.datasource.port}/${zz.datasource.database}
    username: ${zz.datasource.username}
    password: ${zz.datasource.password}
docker:
  host: tcp://localhost:2375
  api-version: 1.41

z-judger:
  docker:
    pool:
      max-pool-size: 10
      keep-start-time: 30
      host-working-dir: "/tmp"
      container-working-dir: "/app"
      image-name: judger
      memory-limit-mb: 1024

