server:
  port: 8081
spring:
  profiles:
    active: dev
  thymeleaf:
    cache: false         # 开发环境建议关闭缓存
    prefix: classpath:/templates/
    suffix: .html
    mode: HTML
    encoding: UTF-8
  mvc:
    static-path-pattern: /static/**

  rabbitmq:
    host: ${zz.rabbitmq.host} #IP
    port: ${zz.rabbitmq.port} # ??
    virtual-host: ${zz.rabbitmq.virtual-host} # ????
    username: ${zz.rabbitmq.username} # ???
    password: ${zz.rabbitmq.password} # ??
  # mysql
  datasource:
    driver-class-name: ${zz.datasource.driver-class-name} #com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://${zz.datasource.host}:${zz.datasource.port}/${zz.datasource.database}
    username: ${zz.datasource.username}
    password: ${zz.datasource.password}
docker:
  host: tcp://localhost:2375
  api-version: 1.41

z-judger:
  docker:
    pool:
      max-pool-size: 10
      keep-start-time: 30
      host-working-dir: "G:/zzcoder-judger-work"
      container-working-dir: "/app"
      image-name: jg
      memory-limit-mb: 1024

# springdoc-openapi项目配置
springdoc:
  swagger-ui:
    path: /swagger-ui.html
    tags-sorter: alpha
    operations-sorter: alpha
  api-docs:
    path: /v3/api-docs
  group-configs:
    - group: 'default'
      paths-to-match: '/**'
      packages-to-scan: com.zazhi.judger.controller
# knife4j的增强配置，不需要增强可以不配
knife4j:
  enable: true
  setting:
    language: zh_cn