<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zazhi.mapper.JudgeMapper">
    <select id="getSubmissions" resultType="com.zazhi.entity.Submission" parameterType="com.zazhi.dto.SubmissionQueryDTO">
        select * from submission
        <where>
            <if test="username != null and username != ''">
                and user_id in (select id from user where username = #{username})
            </if>
            <if test="result != null and result != ''">
                and result = #{result}
            </if>
            <if test="language != null and language != ''">
                and language = #{language}
            </if>
            <if test="contestId != null and contestId != 0">
                and contest_id = #{contestId}
            </if>
        </where>
    </select>

    <insert id="insertSubmission" parameterType="com.zazhi.entity.Submission" keyProperty="id" useGeneratedKeys="true">
        insert into submission (id, user_id, problem_id, contest_id, language, code, status, result, time_used, memory_used)
        values (#{id}, #{userId}, #{problemId}, #{contestId}, #{language}, #{code}, #{status}, #{result}, #{timeUsed}, #{memoryUsed})
    </insert>
</mapper>
