spring:
  profiles:
    active: dev


  # mysql
  datasource:
    driver-class-name: ${zz.datasource.driver-class-name} #com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://${zz.datasource.host}:${zz.datasource.port}/${zz.datasource.database}
    username: ${zz.datasource.username}
    password: ${zz.datasource.password}
  # redis
  data:
    redis:
      host: ${zz.redis.host}
      port: ${zz.redis.port}
      password: ${zz.redis.password}
  # mail
  mail:
    host: ${zz.mail.host}
    port: ${zz.mail.port}
    username: ${zz.mail.username}
    password: ${zz.mail.password}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
zz:
#  jwt:
#    # 设置jwt签名加密时使用的秘钥
#    admin-secret-key: zazhi
#    # 设置jwt过期时间
#    admin-ttl: 7200000
#    # 设置前端传递过来的令牌名称
#    admin-token-name: token
#    user-secret-key: zazhi
#    user-ttl: 7200000
#    user-token-name: authentication
  alioss:
    endpoint: ${zz.alioss.endpoint}
    access-key-id: ${zz.alioss.access-key-id}
    access-key-secret: ${zz.alioss.access-key-secret}
    bucket-name: ${zz.alioss.bucket-name}

# mybatis
mybatis:
  configuration:
    map-underscore-to-camel-case: true

logging:
  level:
    com:
      zazhi:
        mapper: debug
        service: info
        controller: info

# springdoc-openapi项目配置
springdoc:
  swagger-ui:
    path: /swagger-ui.html
    tags-sorter: alpha
    operations-sorter: alpha
  api-docs:
    path: /v3/api-docs
  group-configs:
    - group: 'default'
      paths-to-match: '/**'
      packages-to-scan: com.zazhi.controller
# knife4j的增强配置，不需要增强可以不配
knife4j:
  enable: true
  setting:
    language: zh_cn