spring:
  # mybatis
  mybatis:
    configuration:
      map-underscore-to-camel-case: true #开启驼峰命名和下划线命名的映射
  # mysql
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/zzcoder
    username: root
    password: 123456
  # redis
  data:
    redis:
      host: localhost
      port: 6379
      password: 123456
  # mail
  mail:
    host: smtp.qq.com
    port: 587
    username: 2354807547@qq.com
    password: kwylpojovuzadjjg
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

logging:
  level:
    com:
      zazhi:
        mapper: debug
        service: info
        controller: info

