<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zazhi.mapper.JudgeMapper">
    <select id="getSubmissions" resultType="com.zazhi.common.pojo.vo.SubmissionPageVO" parameterType="com.zazhi.common.pojo.dto.SubmissionQueryDTO">
        select
        s.id, s.problem_id, s.user_id, s.submit_time, s.language, s.status, s.result, s.time_used, s.memory_used, u.username, p.title
        from submission s
        left join user u on s.user_id = u.id
        left join problem p on s.problem_id = p.id
        <where>
            <if test="problemId != null and problemId != 0">
                and s.problem_id = #{problemId}
            </if>
            <if test="username != null and username != ''">
                and u.username = #{username}
            </if>
            <if test="result != null and result != ''">
                and s.result = #{result}
            </if>
            <if test="language != null and language != ''">
                and s.language = #{language}
            </if>
        </where>
        ORDER BY s.submit_time DESC
    </select>

<!--    <insert id="insertSubmission" parameterType="com.zazhi.common.pojo.entity.Submission" keyProperty="id" useGeneratedKeys="true">-->
<!--        insert into submission (id, user_id, problem_id, contest_id, language, code, status, time_used, memory_used)-->
<!--        values (#{id}, #{userId}, #{problemId}, #{contestId}, #{language}, #{code}, #{status}, #{timeUsed}, #{memoryUsed})-->
<!--    </insert>-->

    <update id="updateSubmission" parameterType="com.zazhi.common.pojo.entity.Submission">
        update submission
        <set>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="timeUsed != null and timeUsed != 0">
                time_used = #{timeUsed},
            </if>
            <if test="memoryUsed != null and memoryUsed != 0">
                memory_used = #{memoryUsed},
            </if>
            <if test="errorMessage != null and errorMessage != ''">
                error_message = #{errorMessage},
            </if>
        </set>
        where id = #{id}
    </update>

    <select id="getSubmissionInfoById" resultType="com.zazhi.common.pojo.vo.SubmissionInfoVO" parameterType="long">
        select
        s.id, s.user_id, s.problem_id, s.contest_id, s.submit_time, s.language, s.code, s.status, s.result, s.time_used, s.memory_used, s.error_message, u.username, p.title
        from submission s
        left join user u on s.user_id = u.id
        left join problem p on s.problem_id = p.id
        where s.id = #{id}
    </select>
</mapper>
