<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zazhi.mapper.ProblemMapper">

    <resultMap id="pageMap" type="com.zazhi.common.pojo.vo.ProblemPageVO">
        <id column="id" property="id"/>
        <result column="problem_number" property="problemNumber"/>
        <result column="title" property="title"/>
        <result column="difficulty" property="difficulty"/>
        <collection property="tags" ofType="java.lang.String">
            <result column="name"/>
        </collection>
    </resultMap>
    <select id="pageByIds" parameterType="java.util.List" resultMap="pageMap">
        select
        p.id,
        p.problem_number,
        p.title,
        p.difficulty,
        t.name
        from problem p
        LEFT JOIN problem_tag pt ON p.id = pt.problem_id
        LEFT JOIN tag t ON pt.tag_id = t.id
        where p.id in
        <foreach item="id" collection="list" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <!-- 根据标签id集合查询题目id集合 -->
    <select id="pageIds" parameterType="com.zazhi.common.pojo.dto.ProblemPageDTO">
        select
        <!-- 题目 -->
        p.id
<!--        p.problem_id,-->
<!--        p.title,-->
<!--        p.difficulty,-->
<!--        &lt;!&ndash; 标签 &ndash;&gt;-->
<!--        t.name-->
        from problem p
<!--        LEFT JOIN problem_tag pt ON p.id = pt.problem_id-->
<!--        LEFT JOIN tag t ON pt.tag_id = t.id-->
        <where>
            <if test="keyword != null and keyword.trim() != ''">
                AND ( title LIKE CONCAT('%', #{keyword}, '%') OR p.problem_number LIKE CONCAT('%', #{keyword}, '%') )
            </if>
            <if test="tagId != null and tagId.size() > 0">
                AND p.id IN
                (
                SELECT problem_id FROM problem_tag
                WHERE tag_id IN
                <foreach item="tid" collection="tagId" open="(" separator="," close=")">
                    #{tid}
                </foreach>
                )
            </if>
            <if test="difficulty != null">
                AND difficulty = #{difficulty}
            </if>
            <if test="source != null and source.trim() != ''">
                AND source = #{source}
            </if>
        </where>
<!--        GROUP BY p.problem_id-->
    </select>

    <update id="update" parameterType="com.zazhi.common.pojo.entity.Problem">
        UPDATE problem
        <set>
            <if test="problemId != null">
                problem_id = #{problemId},
            </if>
            <if test="title != null">
                title = #{title},
            </if>
            <if test="timeLimit != null">
                time_limit = #{timeLimit},
            </if>
            <if test="memoryLimit != null">
                memory_limit = #{memoryLimit},
            </if>
            <if test="stackLimit != null">
                stack_limit = #{stackLimit},
            </if>
            <if test="description != null">
                description = #{description},
            </if>
            <if test="inputDescription != null">
                input_description = #{inputDescription},
            </if>
            <if test="outputDescription != null">
                output_description = #{outputDescription},
            </if>
            <if test="source != null">
                source = #{source},
            </if>
            <if test="difficulty != null">
                difficulty = #{difficulty},
            </if>
            <if test="hint != null">
                hint = #{hint},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="updateUser != null">
                update_user = #{updateUser},
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <resultMap id="getProblemInfoByIdMap" type="com.zazhi.common.pojo.vo.ProblemInfoVO">
        <id column="id" property="id"/>
        <result column="problem_id" property="problemNumber"/>
        <result column="title" property="title"/>
        <result column="time_limit" property="timeLimit"/>
        <result column="memory_limit" property="memoryLimit"/>
<!--        <result column="stack_limit" property="stackLimit"/>-->
        <result column="description" property="description"/>
        <result column="input_description" property="inputDescription"/>
        <result column="output_description" property="outputDescription"/>
        <result column="source" property="source"/>
        <result column="difficulty" property="difficulty"/>
        <result column="hint" property="hint"/>
        <result column="status" property="status"/>
        <result column="create_user" property="createUser"/>
        <!-- 标签集合 -->
        <collection property="tags" ofType="java.lang.String">
            <result column="name"/>
        </collection>
        <!-- 样例集合 -->
        <collection property="samples" ofType="com.zazhi.common.pojo.vo.SampleTestCaseVO">
            <result column="input" property="input"/>
            <result column="output" property="output"/>
            <result column="explanation" property="explanation"/>
        </collection>
    </resultMap>
    <select id="getProblemInfoById" resultMap="getProblemInfoByIdMap">
        SELECT
        <!-- 题目基本信息 -->
        p.*,
        <!-- 标签 -->
        t.name,
        <!-- 样例测试数据 -->
        tc.input,
        tc.output,
        tc.explanation
        FROM problem p
        LEFT JOIN problem_tag pt ON p.id = pt.problem_id
        LEFT JOIN tag t ON pt.tag_id = t.id
        LEFT JOIN test_case tc ON (p.id = tc.problem_id AND tc.is_sample = 1)
        WHERE p.id = #{id}
    </select>


    <resultMap id="getProblemWithTestCases" type="com.zazhi.common.pojo.vo.ProblemWithTestCaseVO">
        <id column="id" property="problemId"/>
        <result column="time_limit" property="timeLimit"/>
        <result column="memory_limit" property="memoryLimit"/>
        <collection property="testCases" ofType="com.zazhi.common.pojo.entity.TestCase">
            <id property="id" column="tc_id"/>
            <result property="input" column="input"/>
            <result property="output" column="output"/>
        </collection>
    </resultMap>
    <select id="getProblemWithTestCases" resultMap="getProblemWithTestCases">
        SELECT
        p.id,
        p.time_limit,
        p.memory_limit,
        tc.id AS tc_id,
        tc.input,
        tc.output
        FROM problem p
        LEFT JOIN test_case tc ON p.id = tc.problem_id
        WHERE p.id = #{id}
    </select>
</mapper>
