<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zazhi.mapper.UserMapper">

    <update id="update" parameterType="com.zazhi.common.pojo.entity.User">
        update user
        <set>
            <if test="username != null and username != ''">username = #{username},</if>
            <if test="password != null and password != ''">password = #{password},</if>
            <if test="email != null and email != ''">email = #{email},</if>
            <if test="phoneNumber != null and phoneNumber != ''">phone_number = #{phoneNumber},</if>
            <if test="avatarUrl != null and avatarUrl != ''">avatar_url = #{avatarUrl},</if>
            <if test="cfUsername != null and cfUsername != ''">cf_username = #{cfUsername},</if>
            <if test="status != null">status = #{status},</if>
            update_time = now()
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <select id="findPermissionsByRoles" parameterType="java.util.List" resultType="com.zazhi.common.pojo.entity.Permission">
        select p.*
        from permission p
        join role_permission rp on p.id = rp.permission_id
        <where>
            <if test="roles != null and roles.size() > 0">
               AND rp.role_id IN
               <foreach collection="roles" item="role" open="(" separator="," close=")">
               #{role.id}
               </foreach>
            </if>
        </where>
    </select>

</mapper>
