spring:
  profiles:
    active: dev

  rabbitmq:
    host: ${rabbitmq.host} #IP
    port: ${rabbitmq.port} # 端口
    virtual-host: ${rabbitmq.virtual-host} # 虚拟主机
    username: ${rabbitmq.username} # 用户名
    password: ${rabbitmq.password} # 密码
  # mysql
  datasource:
    driver-class-name: ${datasource.driver-class-name} #com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://${datasource.host}:${datasource.port}/${datasource.database}
    username: ${datasource.username}
    password: ${datasource.password}
  # redis
  data:
    redis:
      host: ${redis.host}
      port: ${redis.port}
      password: ${redis.password}
  # minio
  minio:
    endpoint: ${minio.endpoint}
    access-key: ${minio.access-key}
    secret-key: ${minio.secret-key}
    bucket-name: ${minio.bucket-name}
    domain: ${minio.domain}
  # mail
  mail:
    host: ${mail.host}
    port: ${mail.port}
    username: ${mail.username}
    password: ${mail.password}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
  devtools:
    restart:
      enabled: true  #设置开启热部署
      additional-paths: src/main/java #重启目录
      exclude: WEB-INF/**
  freemarker:
    cache: false    #页面不加载缓存，修改即时生效

zzcoder:
  admin:
    role-name: super-admin
    user-name: sadmin
    password: 111111
    email: 2065707071@qq.com
  email:
    code:
      length: 6
      expire: 5 #验证码过期时间，单位分钟
      interval: 60 #验证码发送间隔时间，单位秒

# mybatis
mybatis:
  configuration:
    map-underscore-to-camel-case: true
  mapper-locations: classpath*:mapper/*Mapper.xml

# springdoc-openapi项目配置
springdoc:
  swagger-ui:
    path: /swagger-ui.html
    tags-sorter: alpha
    operations-sorter: alpha
  api-docs:
    path: /v3/api-docs
  group-configs:
    - group: 'oj'
      paths-to-match: '/**'
      packages-to-scan: com.zazhi.controller.oj
    - group: 'admin'
      paths-to-match: '/**'
      packages-to-scan: com.zazhi.controller.admin
    - group: 'common'
      paths-to-match: '/**'
      packages-to-scan: com.zazhi.controller.common
knife4j:
  enable: true
  setting:
    language: zh_cn

clist:
  Authorization:
  username:
  api-key:
  url: