spring:
  profiles:
    active: dev

  rabbitmq:
    host: ${rabbitmq.host} #IP
    port: ${rabbitmq.port} # 端口
    virtual-host: ${rabbitmq.virtual-host} # 虚拟主机
    username: ${rabbitmq.username} # 用户名
    password: ${rabbitmq.password} # 密码
  # mysql
  datasource:
    driver-class-name: ${datasource.driver-class-name} #com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://${datasource.host}:${datasource.port}/${datasource.database}
    username: ${datasource.username}
    password: ${datasource.password}
  # redis
  data:
    redis:
      host: ${redis.host}
      port: ${redis.port}
      password: ${redis.password}
  # mail
  mail:
    host: ${mail.host}
    port: ${mail.port}
    username: ${mail.username}
    password: ${mail.password}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
  devtools:
    restart:
      enabled: true  #设置开启热部署
      additional-paths: src/main/java #重启目录
      exclude: WEB-INF/**
  freemarker:
    cache: false    #页面不加载缓存，修改即时生效

zzcoder:
  admin:
    role-name: super-idol
    user-name: super-idol
    password: 123456
    email: 2065707071@qq.com

# mybatis
mybatis:
  configuration:
    map-underscore-to-camel-case: true
#    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl

# springdoc-openapi项目配置
springdoc:
  swagger-ui:
    path: /swagger-ui.html
    tags-sorter: alpha
    operations-sorter: alpha
  api-docs:
    path: /v3/api-docs
  group-configs:
    - group: 'oj'
      paths-to-match: '/**'
      packages-to-scan: com.zazhi.controller.oj
    - group: 'admin'
      paths-to-match: '/**'
      packages-to-scan: com.zazhi.controller.admin
knife4j:
  enable: true
  setting:
    language: zh_cn